<section class="section-nav">
    <h1><a href="/"> MOVIEMAGIC</a></h1>
    <form action="/movie-search" method="POST">
        <input type="search" name="mySearch" class="mySearch" placeholder="&#128269 Search..">
        <input type="submit" value="Search" class="Search">
    </form>
    <h1><a href="/myFavuriteList">MySHOWS</a></h1>
</section>