<%- include('./partials/header') %>
    <article class="article-home">

        <%mydata.forEach(element=> {%>
            <section class="section-Item">

            </section>
            <%});%>
    </article>

    <%- include('./partials/footer') %>